#heade{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000000;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}

.clearfix {
    zoom: 1;
}



.item{
    background-color: #FFF;
    padding-top: 6px;
    margin-bottom: 15px;
    margin-top: 12px;
}
.itemTitle{
    height:45px;
    padding-top: 9px;
    margin-bottom: 5px;
}
.blueblock{
    width: 7px;
    height: 24px;
    background-color: #517FF3;
    border-radius: 2px;
    float: left;
    margin: 0 12px 0 15px;
}
.itemTitleTxt{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
    float: left;
    width: 19%;
}
.fenggexian{
    margin-top: 10px;
    float: left;
    width: 68%;
    height: 9px;
}
.fenggexian img{
    width: 100%;
    height: 100%;
}

.itemContent{
    margin: 0 15px;
    line-height: 30px;
}






textarea{
    border: 1px solid #ddd;
    width: 100%;
    height: 150px;
    color: #bbb;
    padding: 6px;
    font-size: 15px;
}








.SCTPBorder{
    height: 88px;
    width: 31%;
    margin-right: 2.32%;
    float: left;
    margin-bottom: 10px;
    position: relative;
}

.deleteImg{
    position: absolute;
    top: 4px;
    right: 4px;
    height: 20px;
    width: 20px;
    font-size: 25px;
}
.deleteImg img{
    width: 100%;
    height: 100%;
}

.SCTPBorder img{
    width: 100%;
    height: 100%;
}
.addSCTPBorder{
    padding-top: 20px;
    height: 88px;
    width: 31%;
    margin-right: 2.32%;
    float: left;
    margin-bottom: 10px;
}
.addSCTPBorder img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}





#lastBtn{
    position: fixed;
    bottom: 0;
    height: 44px;
    color: #fff;
    width: 100%;
    font-size: 16px;
    z-index: 1000;
}
#confirmSubmit{
    background-color: #517FF3;
    width: 100%;
    float: left;
    height: 44px;
    text-align: center;
    line-height: 44px;
}



#RWMS{
    color: #585858;
    font-size: 14px;
    padding-bottom: 14px;
}




#hiddeninputfile{
    position: fixed;
    top: -200px;
    left: -200px;
    z-index: 0;
}
.addSCTPBorder{
    text-align: center;
    position: relative;
}
#addSCTPBorderInput{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1499;
}